<h4>ATENCION</h4>

<p>Estimado usuario <strong><%= @user.Nombres %> <%= @user.Apellidos %></strong>, el siguiente producto requiere de comprar mas unidades:  <p>

<p><strong>Codigo: </strong><%= @product.Codigo %> </p>
<p><strong>Producto: </strong><%= @product.Nombre %></p>
<p><strong>Unidades Minimas: </strong> <%= @product.Minimos %></p>


<p>Gracias,</p>
<p>MarcoCel</p>
