


<div class="container">
  <% if notice.present? %>
    <div class="alert alert-success">
      <%= notice %>
    </div>
  <% end %>

  <% if alert.present? %>
    <div class="alert alert-danger">
      <%= alert %>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-3">
      <h1><%= @product.Nombre.capitalize %></h1>
      <p><strong>Marca:</strong> <%= @product.Marca.Nombre %></p>
      <p><strong>Medida:</strong> <%= @product.Medida.Nombre %></p>
      <p><strong>Tipo de Producto:</strong> <%= @product.TipoProducto.Nombre %></p>
      <p><strong>Existencias:</strong> <%= @stock %></p>

      <% if @stock.to_f <= 0 %>
        <hr>
        <h4>Producto sin existencias</h4>

        <%= form_tag(request_restock_product_path(@product.id), method: :post) do %>
          <%= hidden_field_tag :phone, params[:phone] %>

          <div class="form-group">
            <label>Cantidad sugerida</label>
            <%= number_field_tag :cantidad_sugerida, 1, min: 1, class: 'form-control' %>
          </div>

          <div class="form-group">
            <label>Comentario</label>
            <%= text_area_tag :comentario, nil, class: 'form-control', rows: 3, placeholder: 'Ej. este producto ya lo están solicitando varios clientes' %>
          </div>

          <%= submit_tag 'Solicitar resurtido', class: 'btn btn-warning btn-block' %>
        <% end %>
      <% end %>

      <p><strong>Pedir</strong> <%= link_to 'Whatsapp', "https://wa.me/502#{@empresa.wtpNumber}?text=Vi este producto en linea y me interesa #{request.base_url + request.original_fullpath}", target: '_blank', class: 'btn btn-success' %></p>

      <p>
        <strong>Copiar Link</strong>
        <%= link_to @product.Nombre.capitalize, "javascript:copy_to_clipboard('#{request.base_url + request.original_fullpath}')", type: "button", id: "clipboard-btn", class: 'btn btn-info' %>
      </p>

      <p>
        <% if @client %>
          <h4><strong>Precio:</strong> Q <%= @product.Valor_Venta %></h4>
        <% else %>
          <%= link_to 'Mostrar precio', cart_shop_login_path %>
        <% end %>
      </p>
    </div>

    <div class="col-md-9">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <% @product.product_image.each_with_index do |image, index| %>
            <li data-target="#carousel-example-generic" data-slide-to="<%= index %>" class="<%= 'active' if index == 0 %>"></li>
          <% end %>
        </ol>

        <div class="carousel-inner">
          <% @product.product_image.each_with_index do |image, index| %>
            <div class="item <%= 'active' if index == 0 %>">
              <img src="<%= asset_url('uploads/' + image.descripcion) %>" class="img-fluid" alt="Product Image"/>
            </div>
          <% end %>
        </div>

        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
  </div>
</div>