<p id="notice"><%= notice %></p>

<p>
  <strong>Numero autorizacion:</strong>
  <%= @auto_sat.Numero_autorizacion %>
</p>

<p>
  <strong>Serie:</strong>
  <%= @auto_sat.Serie %>
</p>

<p>
  <strong>Actual:</strong>
  <%= @auto_sat.Actual %>
</p>

<p>
  <strong>Inicio:</strong>
  <%= @auto_sat.Inicio %>
</p>

<p>
  <strong>Fin:</strong>
  <%= @auto_sat.Fin %>
</p>

<p>
  <strong>Bodega:</strong>
  <%= @auto_sat.Bodega %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @auto_sat.Estado %>
</p>

<p>
  <strong>Creado por:</strong>
  <%= @auto_sat.creado_por %>
</p>

<p>
  <strong>Actualizado por:</strong>
  <%= @auto_sat.actualizado_por %>
</p>

<p>
  <strong>Creado:</strong>
  <%= @auto_sat.creado %>
</p>

<p>
  <strong>Actualizado:</strong>
  <%= @auto_sat.actualizado %>
</p>

<%= link_to 'Edit', edit_auto_sat_path(@auto_sat) %> |
<%= link_to 'Back', auto_sats_path %>
