<%= form_with(model: calidad, local: true) do |form| %>
  <% if calidad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(calidad.errors.count, "error") %> prohibited this calidad from being saved:</h2>

      <ul>
      <% calidad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
    <div class="field">
      <%= form.label :nombre %>
      <%= form.text_field :nombre, id: :calidad_nombre, class: 'form-control' %>
    </div>

    <div class="field">
      <%= form.label :status %>
      <%= form.check_box :status, id: :calidad_status, checked: true %>
    </div>

  </div>
  <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
    <div class="panel panel-info">
      <div class="panel-heading">Acciones:</div>
      <div class="panel-body">
        <button type="submit" name="button" class="btn btn-primary"><i class="fontawesome-save"></i> Guardar</button>
        <%= link_to 'Regresar', calidads_path, class: 'btn btn-default' %>
      </div>
    </div>
  </div>
</div>
<% end %>
