<p id="notice"><%= notice %></p>

<h1>Pagos
  <% if !DocumentoPago.find(params[:id]).Pagado %>
    <%= link_to 'Nuevo Pago', new_pago_path(id: params[:id]), class: 'btn btn-primary' %>
  <% end %>
<%= link_to 'Regresar', documento_pagos_path( tipo: DocumentoPago.find(params[:id]).Tipo_Documento), class: 'btn btn-default' %></h1>

<table class="table dataTable">
  <thead>
    <tr>
      <th>Cantidad</th>
      <th>Documento</th>
      <th>Constancia</th>
      <th>Interes</th>
      <th>Mora</th>
      <th>Observacion</th>
      <th>Creado por</th>
      <th>Actualizado por</th>
      <th>Creado</th>
      <th>Actualizado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if @pagos %>
      <% @pagos.each do |pago| %>
        <tr>
          <td><%= pago.cantidad %></td>
          <td><%= pago.documento_pago.Documento == nil ? pago.documento_pago.referencia : pago.documento_pago.Documento.Documento  %></td>
          <td><%= pago.referencia %></td>
          <td><%= pago.interes %></td>
          <td><%= pago.mora %></td>
          <td><%= pago.observacion %></td>
          <td><%= Usuario.find(pago.creado_por).Nombres %></td>
          <td><%= Usuario.find(pago.actualizado_por).Nombres%></td>
          <td><%= pago.creado %></td>
          <td><%= pago.actualizado %></td>
        </tr>
      <% end
    end %>
  </tbody>
</table>

<br>
