<p id="notice"><%= notice %></p>

<h1>Tarjeta Creditos</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Estado</th>
      <th>Creado por</th>
      <th>Actualizado por</th>
      <th>Creado</th>
      <th>Actualizado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tarjeta_creditos.each do |tarjeta_credito| %>
      <tr>
        <td><%= tarjeta_credito.nombre %></td>
        <td><%= tarjeta_credito.Estado %></td>
        <td><%= tarjeta_credito.creado_por %></td>
        <td><%= tarjeta_credito.actualizado_por %></td>
        <td><%= tarjeta_credito.creado %></td>
        <td><%= tarjeta_credito.actualizado %></td>
        <td><%= link_to 'Show', tarjeta_credito %></td>
        <td><%= link_to 'Edit', edit_tarjeta_credito_path(tarjeta_credito) %></td>
        <td><%= link_to 'Destroy', tarjeta_credito, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tarjeta Credito', new_tarjeta_credito_path %>
