<p id="notice"><%= notice %></p>

<p>
  <strong>Serie:</strong>
  <%= @aparato.serie %>
</p>

<p>
  <strong>Cov:</strong>
  <%= @aparato.cov %>
</p>

<p>
  <strong>Bodega:</strong>
  <%= @aparato.bodega %>
</p>

<p>
  <strong>Serie remplazo:</strong>
  <%= @aparato.serie_remplazo %>
</p>

<p>
  <strong>Cov remplazo:</strong>
  <%= @aparato.cov_remplazo %>
</p>

<p>
  <strong>Proveedor:</strong>
  <%= @aparato.proveedor %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @aparato.cliente %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @aparato.estado %>
</p>

<p>
  <strong>Comentario:</strong>
  <%= @aparato.comentario %>
</p>

<p>
  <strong>Status:</strong>
  <%= @aparato.status %>
</p>

<p>
  <strong>Creado por:</strong>
  <%= @aparato.creado_por %>
</p>

<p>
  <strong>Actualizado por:</strong>
  <%= @aparato.actualizado_por %>
</p>

<p>
  <strong>Creado:</strong>
  <%= @aparato.creado %>
</p>

<p>
  <strong>Actualizado:</strong>
  <%= @aparato.actualizado %>
</p>

<%= link_to 'Edit', edit_aparato_path(@aparato) %> |
<%= link_to 'Back', aparatos_path %>
