<p id="notice"><%= notice %></p>

<h1>Movimiento Productos</h1>

<table>
  <thead>
    <tr>
      <th>Producto</th>
      <th>Saliente bodega</th>
      <th>Entrante bodega</th>
      <th>Cantidad</th>
      <th>Porcentaje proporcion</th>
      <th>Movimiento tipo</th>
      <th>Signo</th>
      <th>Documento</th>
      <th>Creado por</th>
      <th>Actualizado por</th>
      <th>Creado</th>
      <th>Actualizado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movimiento_productos.each do |movimiento_producto| %>
      <tr>
        <td><%= movimiento_producto.Producto.Nombre %></td>
        <td><%= movimiento_producto.Saliente_Bodega.Nombre %></td>
        <td><%= movimiento_producto.Entrante_Bodega.Nombre %></td>
        <td><%= movimiento_producto.cantidad %></td>
        <td><%= movimiento_producto.porcentaje_proporcion %></td>
        <td><%= movimiento_producto.movimiento_tipo %></td>
        <td><%= movimiento_producto.signo %></td>
        <td><%= movimiento_producto.Documento.Documento %></td>
        <td><%= movimiento_producto.creado_por %></td>
        <td><%= movimiento_producto.actualizado_por %></td>
        <td><%= movimiento_producto.creado %></td>
        <td><%= movimiento_producto.actualizado %></td>
        <td><%= link_to 'Show', movimiento_producto %></td>
        <td><%= link_to 'Edit', edit_movimiento_producto_path(movimiento_producto) %></td>
        <td><%= link_to 'Destroy', movimiento_producto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movimiento Producto', new_movimiento_producto_path %>
