<p id="notice"><%= notice %></p>

<p>
  <strong>Tracking:</strong>
  <%= @estadortacking.tracking %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @estadortacking.estado %>
</p>

<p>
  <strong>Comentario:</strong>
  <%= @estadortacking.comentario %>
</p>

<p>
  <strong>Status:</strong>
  <%= @estadortacking.status %>
</p>

<p>
  <strong>Creado por:</strong>
  <%= @estadortacking.creado_por %>
</p>

<p>
  <strong>Actualizado por:</strong>
  <%= @estadortacking.actualizado_por %>
</p>

<p>
  <strong>Creado:</strong>
  <%= @estadortacking.creado %>
</p>

<p>
  <strong>Actualizado:</strong>
  <%= @estadortacking.actualizado %>
</p>

<%= link_to 'Edit', edit_estadortacking_path(@estadortacking) %> |
<%= link_to 'Back', estadortackings_path %>
