<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
    <table class="table">
      <tr>
        <td><strong>Nombre:</strong></td>
        <td><%= @opcion.Nombre %></td>
      </tr>
      <tr>
        <td><strong>Letraconjunto:</strong></td>
        <td><%= @opcion.LetraConjunto %></td>
      </tr>
      <tr>
        <td><strong>Conjunto:</strong></td>
        <td><%= @opcion.Conjunto %></td>
      </tr>
      <tr>
        <td><strong>Estado:</strong></td>
        <td><%= @opcion.Estado %></td>
      </tr>
      <tr>
        <td><strong>Creado por:</strong></td>
        <td><%= Usuario.find_by(id: @opcion.creado_por).Nombres %></td>
      </tr>
      <tr>
        <td><strong>Actualizado por:</strong></td>
        <td><%= Usuario.find_by(id: @opcion.actualizado_por).Nombres %></td>
      </tr>
      <tr>
        <td><strong>Creado:</strong></td>
        <td><%= @opcion.creado %></td>
      </tr>
      <tr>
        <td><strong>Actualizado:</strong></td>
        <td><%= @opcion.actualizado %></td>
      </tr>
    </table>
  </div>
  <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
    <div class="panel panel-info">
      <div class="panel-heading">Acciones:</div>
      <div class="panel-body">
        <%= link_to 'Editar', edit_opcion_path(@opcion), class: 'btn btn-warning'  %>
        <%= link_to 'Regresar', opcions_path, class: 'btn btn-default' %>
      </div>
    </div>
  </div>
</div>
