<%= form_for(tipo_documento) do |f| %>
  <% if tipo_documento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tipo_documento.errors.count, "error") %> prohibited this tipo_documento from being saved:</h2>

      <ul>
      <% tipo_documento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Nombre %>
    <%= f.text_field :Nombre %>
  </div>

  <div class="field">
    <%= f.label :Estado %>
    <%= f.check_box :Estado %>
  </div>

  <div class="field">
    <%= f.label :creado_por %>
    <%= f.number_field :creado_por %>
  </div>

  <div class="field">
    <%= f.label :actualizado_por %>
    <%= f.number_field :actualizado_por %>
  </div>

  <div class="field">
    <%= f.label :creado %>
    <%= f.date_select :creado %>
  </div>

  <div class="field">
    <%= f.label :actualizado %>
    <%= f.date_select :actualizado %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
