<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
    <table class="table">
      <tr>
        <td><strong>Opcion:</strong></td>
        <td><%= @opcion_role.opcion.Nombre %></td>
      </tr>
      <tr>
        <td><strong>Role:</strong></td>
        <td><%= @opcion_role.role.Nombre %></td>
      </tr>
      <tr>
        <td><strong>Estado:</strong></td>
        <td><%= @opcion_role.Estado %></td>
      </tr>
      <tr>
        <td><strong>Creado por:</strong></td>
        <td><%= Usuario.find_by(id: @opcion_role.creado_por).Nombres %></td>
      </tr>
      <tr>
        <td><strong>Actualizado por:</strong></td>
        <td><%= Usuario.find_by(id: @opcion_role.actualizado_por).Nombres %></td>
      </tr>
      <tr>
        <td><strong>Creado:</strong></td>
        <td><%= @opcion_role.creado %></td>
      </tr>
      <tr>
        <td><strong>Actualizado:</strong></td>
        <td><%= @opcion_role.actualizado %></td>
      </tr>
    </table>
</div>
<div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
  <div class="panel panel-info">
    <div class="panel-heading">Acciones:</div>
    <div class="panel-body">
      <%= link_to 'Editar', edit_opcion_role_path(@opcion_role), class: 'btn btn-warning'  %>
      <%= link_to 'Regresar', opcion_roles_path, class: 'btn btn-default' %>
    </div>
  </div>
</div>
</div>
