<p id="notice"><%= notice %></p>

<h1>Medidas
  <%= link_to 'Nueva Unidad de Medida <i class="fa fa-plus"></i>'.html_safe , new_medida_path, class: 'btn btn-primary' %>
  <% if params[:deleted] %>
    <%= link_to 'Regresar'.html_safe , medidas_path, class: 'btn btn-default' %>
  <% else %>
    <%= link_to 'Ver Papelera <i class="fa fa-trash"></i>'.html_safe , medidas_path(deleted: true), class: 'btn btn-danger' %>
  <% end %>
</h1>

<table id="productos" class="table table-condensed dataTable">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Estado</th>
      <th>Creado</th>
      <th>Actualizado</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @medidas.each do |medida| %>
      <tr>
        <td class="<%= 'tr-'+medida.Estado.to_s %>"><%= medida.Nombre %></td>
        <td class="<%= 'tr-'+medida.Estado.to_s %>"><%= medida.Estado %></td>
        <td class="<%= 'tr-'+medida.Estado.to_s %>"><%= medida.creado %></td>
        <td class="<%= 'tr-'+medida.Estado.to_s %>"><%= medida.actualizado %></td>
        <!--<td><%= link_to  icon('fa','eye'), medida, class:'btn btn-info' %></td>-->
        <td class="<%= 'tr-'+medida.Estado.to_s %>"><%= link_to icon('fa','edit'), edit_medida_path(medida), class:'btn btn-warning' %></td>
        <td class="<%= 'tr-'+medida.Estado.to_s %>"><%= link_to icon('fa','trash-o'), medida, method: :delete, data: { confirm: 'Estas Seguro?' }, class:'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
