<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
    <table class="table">
      <tr>
        <td><strong>User name:</strong></td>
        <td><%= @usuario.User_Name %></td>
      </tr>
      <tr>
        <td><strong>Ultimo login:</strong></td>
        <td><%= @usuario.Ultimo_Login %></td>
      </tr>
      <tr>
        <td><strong>Nombres:</strong></td>
        <td><%= @usuario.Nombres %></td>
      </tr>
      <tr>
        <td><strong>Apellidos:</strong></td>
        <td><%= @usuario.Apellidos %></td>
      </tr>
      <tr>
        <td><strong>Correo:</strong></td>
        <td><%= @usuario.Correo %></td>
      </tr>
      <tr>
        <td><strong>Fecha nacimiento:</strong></td>
        <td><%= @usuario.Fecha_Nacimiento %></td>
      </tr>
      <tr>
        <td><strong>Telefono:</strong></td>
        <td><%= @usuario.Telefono %></td>
      </tr>
      <tr>
        <td><strong>Telefono1:</strong></td>
        <td><%= @usuario.Telefono1 %></td>
      </tr>
      <tr>
        <td><strong>Porcentaje descuento:</strong></td>
        <td><%= @usuario.Porcentaje_Descuento %></td>
      </tr>
      <tr>
        <td><strong>Nivel acceso:</strong></td>
        <td><%= @usuario.Nivel_Acceso %></td>
      </tr>
      <tr>
        <td><strong>Estado:</strong></td>
        <td><%= @usuario.Estado %></td>
      </tr>
      <tr>
        <td><strong>Creado por:</strong></td>
        <td><%= Usuario.find_by(id: @usuario.creado_por).Nombres %></td>
      </tr>
      <tr>
        <td><strong>Actualizado por:</strong></td>
        <td><%= Usuario.find_by(id: @usuario.actualizado_por).Nombres %></td>
      </tr>
      <tr>
        <td><strong>Creado:</strong></td>
        <td><%= @usuario.creado %></td>
      </tr>
      <tr>
        <td><strong>Actualizado:</strong></td>
        <td><%= @usuario.actualizado %></td>
      </tr>
    </table>
  </div>
  <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
    <div class="panel panel-info">
      <div class="panel-heading">Acciones:</div>
      <div class="panel-body">
        <%= link_to 'Editar', edit_usuario_path(@usuario), class: 'btn btn-warning'  %>
        <%= link_to 'Regresar', usuarios_path, class: 'btn btn-default' %>
      </div>
    </div>
  </div>
</div>
