<%= form_with(model: caja, local: true) do |form| %>
  <% if caja.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(caja.errors.count, "error") %> prohibited this caja from being saved:</h2>

      <ul>
      <% caja.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="col-md-12 col-lg-4 col-sm-12 col-xs-12">
    <table class="table">
  <% if !@open %>
    <tr>
      <td><%= form.label :Usuario_Encargado %></td>
      <td><%= @caja.usuario&.Nombres %></td>
    </tr>
    <tr>
      <td><%= form.label :Nombre %></td>
      <td><%= @caja.Nombre %></td>
    </tr>
    <tr>
      <td><%= form.label :Efectivo_Inicial %></td>
      <td><%= @caja.InicialEfectivo %></td>
    </tr>
  <% else %>
    <tr>
      <td><%= form.label :Usuario_Encargado %></td>
      <td>
        <% if user_is_admin %>
          <%= collection_select(:caja, :usuario_id, Usuario.where(Estado: true), :id, :User_Name, { prompt: true }, class: 'form-control') %>
        <% else %>
          <%= form.hidden_field :usuario_id, value: session[:user_id] %>
          <input type="text" class="form-control" value="<%= session[:name] || session[:username] || @caja.usuario&.User_Name || @caja.usuario&.Nombres %>" readonly>
        <% end %>
      </td>
    </tr>

    <tr>
      <td><%= form.label :Nombre %></td>
      <td><%= form.text_field :Nombre, id: :caja_Nombre, class: 'form-control', value: I18n.l(Time.now, format: :dayNameDate), readonly: true %></td>
    </tr>

    <tr>
      <td><%= form.label :Efectivo_Inicial %></td>
      <td><%= form.text_field :InicialEfectivo, id: :caja_InicialEfectivo, class: 'form-control', value: 0 %></td>
    </tr>

    <% if session[:version].include? "2.0" %>
      <tr>
        <td><%= form.label :Tipo %></td>
        <td>
          <select class="form-control" name="caja[tipo]">
            <option value="1">Caja Registradora</option>
            <option value="2">Caja chica</option>
          </select>
        </td>
      </tr>
    <% end %>
  <% end %>

  <tr>
    <td></td>
    <td></td>
  </tr>
</table>
  </div>
  <% if !@open %>
    <div class="col-md-12 col-lg-6 col-sm-12 col-xs-12">
      <div class="panel panel-warning">
        <% if @caja.tipo != 2 %>
        <div class="panel-heading">Cobros del dia  <%= @caja.creado.strftime("%d-%m-%Y").to_s %>:</div>
        <div class="panel-body">
          <table class="table">
            <thead>
              <th>Cobro Efectivo</th>
              <th>Cobro Tarjeta</th>
              <th>Cobro Deposito</th>
              <th>Vuelto o Cambio</th>
              <th>Total Efectivo</th>
              <th>Total</th>
            </thead>
            <tbody id="cobros">

            </tbody>
          </table>
        </div>
        <% else %>
        <div class="panel-heading">Movimientos desde  <%= @caja.creado.strftime("%d-%m-%Y").to_s %>:
          <%= link_to '+' , new_detallecaja_path(caja: @caja.id), class:'btn btn-info'  %>
        </div>
        <div class="panel-body">
          <table class="table">
            <thead>
              <th>Cantidad</th>
              <th>Razon</th>
              <th>Saldo en Caja</th>
            </thead>
            <tbody id="">

              <%
                @saldo = @caja.InicialEfectivo
                @detalleCaja.each do |dd|
                if dd.tipo == 1
                  @saldo += dd.cantidad
                  op = "+"
                else
                  @saldo -= dd.cantidad
                  op = "-"
                end
                %>
                <tr>
                  <td><%= op %><%= dd.cantidad %></td>
                  <td><%= dd.razon %></td>
                  <td><%= @saldo %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="col-md-12 col-lg-2 col-sm-12 col-xs-12">
    <div class="panel panel-info">
      <div class="panel-heading">Acciones:</div>
      <% if !caja.Estado %>
        <div class="panel-body">
          <button type="submit" name="button" class="btn btn-primary"><i class="fontawesome-save"></i><%= @open ? 'Abrir' : 'Cerrar' %> Caja</button>
          <%= link_to 'Regresar', cajas_path, class: 'btn btn-default' %>
        </div>
      <% else %>
        ESTA CAJA HA SIDO CERRADA EL <%= caja.updated_at%>
      <% end %>
    </div>
  </div>
</div>
  <% if !@open %>
    <script type="text/javascript">
      getDoctosByUserAndDate();
      function getDoctosByUserAndDate(){
        $.ajax({
          url: "/getDoctosByUserAndDate",
          method: 'GET',
          dataType: 'json',
          data: {
            user: <%= @caja.usuario_id %>,
            date: '<%=  @caja.creado  %>'
          },
          success: function( result ) {
            efectivo=0, tarjeta=0, cambio=0, deposito=0;
            for(i=0; i < result.length; i++){
              efectivo += result[i].Pago_Efectivo
              tarjeta  += result[i].Pago_Tarjeta
              cambio   += result[i].cambio
              deposito += result[i].pago_deposito
              console.log(result[i])
            }
            totalEfectivo = efectivo - cambio;
            totalPos = tarjeta + deposito;
            total = totalEfectivo + totalPos;

            html = "<tr><td>" + efectivo + "</td><td>" + tarjeta + "</td><td>" + deposito + "</td><td>" + cambio + "</td><td>" + totalEfectivo + "</td><td>" + total + "</td></tr>";
            $("#cobros").html(html);

            // Llenar inputs reales del formulario
            $("#caja_FinalEfectivo").val(totalEfectivo.toFixed(2));
            $("#caja_FinalPos").val(totalPos.toFixed(2));
          }
        });
      }
    </script>
  <% end %>
<% end %>
